/*
  .size-xxs(12);
  .size-xs(12);
  .size-sm(10);
  .size-md(6);
  .size-lg(2);
  */
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
/*
.debug {
  position: relative;
  .debug(rgba(0, 0, 0, 0.1), 1px solid #ff0);
}
*/
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}
html {
  height: 100%;
}
.paragraf {
  padding-left: 30%;
  padding-top: 10%;
  font-size: 70px;
  color: red;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}
.ui__block {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  min-height: 4em;
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
}
.ui__h2 {
  width: 100%;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
  font-family: inherit;
  font-size: 1.8em;
  color: #343a40;
}
.ui__color-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  min-height: 3em;
  margin: 0;
  padding: 0;
  list-style: none;
}
.ui__color-item {
  display: flex;
  flex-direction: column;
  width: 11em;
  min-height: 5em;
  margin: 0;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 0;
  background-color: #CCCCCC;
  box-sizing: border-box;
}
.ui__color-item-section {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 5em;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1.2em;
  padding-left: 1.2em;
  background-color: #CCCCCC;
  box-sizing: border-box;
}
.ui__color-item-section--blue {
  background-color: #51a4ff;
}
.ui__color-item-section--blue-hover {
  background-color: #458dd9;
}
.ui__color-item-section--light-blue {
  background-color: #8ABEFD;
}
.ui__color-item-section--light-blue-hover {
  background-color: #77a5d9;
}
.ui__color-item-section--dark-blue {
  background-color: #1481de;
}
.ui__color-item-section--dark-blue-hover {
  background-color: #1474b8;
}
.ui__color-item-section--link-blue {
  background-color: #0F7EE6;
}
.ui__color-item-section--link-blue-hover {
  background-color: #0d69bf;
}
.ui__color-item-section--orange {
  background-color: #f48f2e;
}
.ui__color-item-section--orange-hover {
  background-color: #d97f2b;
}
.ui__color-item-section--orange-dark {
  background-color: #FF6B00;
}
.ui__color-item-section--orange-dark-hover {
  background-color: #d95a00;
}
.ui__color-item-txt {
  width: 100%;
  margin: 0;
  margin-bottom: 0.2em;
  padding: 0;
  font-size: 1.3em;
  line-height: 1em;
  font-weight: 400;
}
.ui__color-item-txt--thin-tr {
  font-size: 1em;
  text-transform: uppercase;
}
.ui__color-item-txt--thin-tr span {
  text-transform: none;
}
.ui__color-item-txt--light {
  color: #ffffff;
}
.ui__color-item-txt--mb {
  margin-bottom: 0;
}
.ui__icon-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}
.ui__icon-item {
  width: 25px;
  height: 25px;
  margin: 0;
  margin-bottom: 2em;
  margin-right: 30px;
  padding: 0;
}
.ui__icon {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.ui__check-list {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0;
  padding: 0;
}
.ui__check-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* ------ checkbox ------ */
.ui__check-label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
.ui__check-input {
  display: none;
}
.ui__check-txt {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 30px;
}
.ui__check-txt::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  background: linear-gradient(180deg, #ededed, #dedede);
}
.ui__check-label input:checked + .ui__check-txt::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-check' viewBox='0 0 11 11'%3E%3Cdefs%3E%3Cstyle%3E.check-a%7Bfill:%23424242;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicon-check%3C/title%3E%3Cpath class='check-a' d='M0,6.65,4.11,11,11,2.15,8.41,0,3.89,5.84,2.33,4.24Z'/%3E%3C/svg%3E");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
/*--- Checkbox v2 ---*/
.ui__check-txt--size-color::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 0;
  width: 14px;
  height: 14px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  border: 1px solid #999999;
  border-radius: 0;
}
.ui__check-label input:checked + .ui__check-txt--size-color::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 7.77 7.25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.icon-check-small-a%7Bfill:none;stroke:%23FFFFFF;stroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicon-check-small%3C/title%3E%3Cpolyline class='icon-check-small-a' points='0.41 2.03 3.45 6.36 7.35 0.27'/%3E%3C/svg%3E");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333333;
  border: none;
}
/*--- Checkbox MK components v1 ---*/
.ui__check-label-mk {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
.ui__check-input-mk {
  display: none;
}
.ui__check-txt-mk {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 30px;
}
.ui__check-txt-mk::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  border: 1px solid #999999;
  border-radius: 1px;
  background: linear-gradient(180deg, #FFFFFF 0%, #DADADA 100%);
  box-sizing: border-box;
}
.ui__check-label-mk input:checked + .ui__check-txt-mk::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.check-mk-a%7Bfill:%23444;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicon-check-mk%3C/title%3E%3Cpath class='check-mk-a' d='M4.51,5.37,9.73,0,12,2.28,4.51,10,0,5.37,2.29,3.05Z'/%3E%3C/svg%3E");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
/*-----------------------------------------------*/
/*--- Таблицы на CSS ---*/
.ui__table {
  display: table;
  width: 700px;
  min-height: 30px;
  margin: 0;
  padding: 0;
  background-color: #51a4ff;
  border: 1px solid #51a4ff;
}
.ui__table-header {
  display: table-caption;
  caption-side: top;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: inherit;
  font-size: 1.2em;
  color: #FFFFFF;
  background-color: #51a4ff;
  border: 1px solid #51a4ff;
}
.ui__table-header-group {
  display: table-header-group;
}
.ui__table-footer-group {
  display: table-footer-group;
}
/*-- Ряды --*/
.ui__row-group {
  display: table-row-group;
}
.ui__row {
  display: table-row;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
}
.ui__row--height {
  height: 70px;
}
/*-- Колонки --*/
.ui_col {
  display: table-column;
  width: 40%;
  background-color: #77a5d9;
  border-right: 1px solid #333333;
}
.ui_col--2 {
  display: table-column;
  width: 70%;
  background-color: #fffcd3;
  border-right: 1px solid #242424;
}
/*-- Ячейки --*/
.ui__cell {
  display: table-cell;
  border-bottom: 1px solid #525252;
}
.ui__cell--footer {
  background-color: #cdffc5;
  border-bottom: none;
}
.ui__cell-in {
  display: table-cell;
  width: 70px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #333333;
}
.ui__cell-in--br {
  border-right: none;
}
.ui__cell--h2 {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  vertical-align: middle;
  font-family: "PT Sans", sans-serif;
  font-size: 0.85em;
  font-weight: bold;
  color: #FFFFFF;
}
/* --- разделитель --- */
.ui__separation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 1;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #51a4ff;
}
.ui__separation--height {
  height: 70px;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}
.main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 3%;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "PT Sans", sans-serif;
  background-color: #EBECED;
}
.main__bg-color {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  color: #424242;
}
@media screen and (min-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
