@bg: #EBECED;

@white: #ffffff;
@black: #000000;

@gray: #696969;
@darkgray: #343a40;
@lightgray: #bfbfbf;


@base: #004DA6;

@blue: #51a4ff;
@blue-hover: #458dd9;

@light-blue: #8ABEFD;
@light-blue-hover: #77a5d9;

@dark-blue: #1481de;
@dark-blue-hover: #1474b8;

@link-blue: #0F7EE6;
@link-blue-hover: #0d69bf;

@orange: #f48f2e;
@orange-hover: #d97f2b;

@orange-dark: #FF6B00;
@orange-dark-hover: #d95a00;